<h2>Groupes d'alertes en cours</h2>

<input type="text" ng-model="search" class="search-query" placeholder="Filtre">
<br/><br/>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th><a href="" ng-click="alertsGroupSortPredicate = 'topic'; reverse=!reverse">Topic</a></th>
	  <th><a href="" ng-click="alertsGroupSortPredicate = 'subtopic'; reverse=!reverse">Sous-topic</a></th>
      <th><a href="" ng-click="alertsGroupSortPredicate = 'assigned'; reverse=!reverse">Assigné</a></th>
      <th><a href="" ng-click="alertsGroupSortPredicate = 'message'; reverse=!reverse">Message</a></th>
      <th><a href="" ng-click="alertsGroupSortPredicate = 'priority'; reverse=!reverse">Priorité</a></th>
      <th><a href="" ng-click="alertsGroupSortPredicate = 'beginDate'; reverse=!reverse">Première alerte</a></th>
      <th><a href="" ng-click="alertsGroupSortPredicate = 'endDate'; reverse=!reverse">Dernière alerte</a></th>
      <th><a href="" ng-click="alertsGroupSortPredicate = 'action'; reverse=!reverse">Action</a></th>
    </tr>
  </thead>
  <tbody>
      <tr ng-repeat="alertsGroup in alertsGroups | filter:search | orderBy:alertsGroupSortPredicate:reverse" ng-class="alertsGroup.priority | priorityToClass">
          <td><code><a href="#/alert-list/{{alertsGroup._id}}">{{alertsGroup._id}}</a></code>&nbsp;<span class="badge">{{alertsGroup.occurenceCount}}</span></td>
          <td>{{alertsGroup.topic}}</td>
		  <td>{{alertsGroup.subtopic}}</td>
          <td>{{alertsGroup.assigned}}</td>
          <td>{{alertsGroup.message | filter:ellipsis:20}}</td>
          <td>{{alertsGroup.priority | priorityToText}}</td>
          <td>{{alertsGroup.beginDate | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
          <td>{{alertsGroup.endDate | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
          <td>
			<a    ng-if="alertsGroup.action.indexOf('http') === 0" ng-href="{{alertsGroup.action}}">{{alertsGroup.action}}</a>
			<span ng-if="alertsGroup.action.indexOf('http') !== 0">{{alertsGroup.action}}<span>
		  </td>
      </tr>
   </tbody>
</table>
