<h2>Événements en cours ({{alertsGroups.length}})</h2>

<div class="input-group">
    <span class="input-group-addon glyphicon glyphicon-filter" id="filter-addon"></span>
    <input type="text" class="form-control" ng-model="search" class="search-query" placeholder="Quel filtre voulez-vous appliquer ?" aria-describedby="filter-addon" />
</div>

<br/>
<br/>

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>
                <span ng-if="'topic' == alertsGroupSortPredicate &&   reverse" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                <span ng-if="'topic' == alertsGroupSortPredicate && ! reverse" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                <a href="" ng-click="alertsGroupSortPredicate = 'topic'; reverse=!reverse">Topic</a>
            </th>
            <th>
                <span ng-if="'subtopic' == alertsGroupSortPredicate &&   reverse" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                <span ng-if="'subtopic' == alertsGroupSortPredicate && ! reverse" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                <a href="" ng-click="alertsGroupSortPredicate = 'subtopic'; reverse=!reverse">Sous-topic</a>
            </th>
            <th>
                <span ng-if="'assigned' == alertsGroupSortPredicate &&   reverse" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                <span ng-if="'assigned' == alertsGroupSortPredicate && ! reverse" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                <a href="" ng-click="alertsGroupSortPredicate = 'assigned'; reverse=!reverse">Assigné</a>
            </th>
            <th>
                <span ng-if="'server' == alertsGroupSortPredicate &&   reverse" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                <span ng-if="'server' == alertsGroupSortPredicate && ! reverse" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                <a href="" ng-click="alertsGroupSortPredicate = 'server'; reverse=!reverse">Serveur</a>
            </th>
            <th>
                <span ng-if="'message' == alertsGroupSortPredicate &&   reverse" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                <span ng-if="'message' == alertsGroupSortPredicate && ! reverse" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                <a href="" ng-click="alertsGroupSortPredicate = 'message'; reverse=!reverse">Message</a>
            </th>
            <th>
                <span ng-if="'priority' == alertsGroupSortPredicate &&   reverse" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                <span ng-if="'priority' == alertsGroupSortPredicate && ! reverse" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                <a href="" ng-click="alertsGroupSortPredicate = 'priority'; reverse=!reverse">Priorité</a>
            </th>
            <th>
                <span ng-if="'beginDate' == alertsGroupSortPredicate &&   reverse" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                <span ng-if="'beginDate' == alertsGroupSortPredicate && ! reverse" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                <a href="" ng-click="alertsGroupSortPredicate = 'beginDate'; reverse=!reverse">Première alerte</a>
            </th>
            <th>
                <span ng-if="'endDate' == alertsGroupSortPredicate &&   reverse" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                <span ng-if="'endDate' == alertsGroupSortPredicate && ! reverse" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                <a href="" ng-click="alertsGroupSortPredicate = 'endDate'; reverse=!reverse">Dernière alerte</a>
            </th>
            <th>
                <span ng-if="'action' == alertsGroupSortPredicate &&   reverse" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                <span ng-if="'action' == alertsGroupSortPredicate && ! reverse" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                <a href="" ng-click="alertsGroupSortPredicate = 'action'; reverse=!reverse">Action</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="alertsGroup in alertsGroups | filter:search | orderBy:alertsGroupSortPredicate:reverse" ng-class="alertsGroup.priority | priorityToClass">
            <td><code><a href="#/alert-list/{{alertsGroup._id}}">{{alertsGroup._id}}</a></code>&nbsp;<span class="badge">{{alertsGroup.occurenceCount}}</span>
            </td>
            <td>{{alertsGroup.topic}}</td>
            <td>{{alertsGroup.subtopic}}</td>
            <td>{{alertsGroup.assigned}}</td>
            <td>{{alertsGroup.server}}</td>
            <td>{{alertsGroup.message | filter:ellipsis:20}}</td>
            <td>{{alertsGroup.priority | priorityToText}}</td>
            <td>{{alertsGroup.beginDate | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
            <td>{{alertsGroup.endDate | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
            <td>
                <a ng-if="alertsGroup.action.indexOf('http') === 0" ng-href="{{alertsGroup.action}}" target="_blank">{{alertsGroup.action}}</a>
                <span ng-if="alertsGroup.action.indexOf('http') !== 0">{{alertsGroup.action}}</span>
            </td>
        </tr>
    </tbody>
</table>